<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Have a burger</title>
		<meta charset="UTF-8">
		<!-- dont forget to add bootstrap link -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
